<h1>Index</h1>

<div class="client_sign_in" >
  <%= link_to 'Client Sign In', new_client_session_path %>
</div>
<br>
<div class="mentor_sign_in" >
  <%= link_to 'Mentor Sign In', new_mentor_session_path %>
</div>

<% if current_client %>
  <%= link_to 'sign out', destroy_client_session_path, method: :delete %>
<% end %>

<% if current_mentor %>
  <%= link_to 'sign out', destroy_mentor_session_path, method: :delete %>
<% end %>

<% @category.each do |cat| %>
  <button type="button" class="category" id="<%= cat.id %>" ><%= cat.name %></button>
<% end %>

<div id="show_offers" class="d-flex" >
  
</div>